<div class="table-responsive">
<table id="consults-table" class="table table-striped" summary="Consults">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Next Meeting</th>
      <th>Length (hours)</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>

    
    <%= render :partial => 'consults/user_consult', :collection => @open_consults, :as => :consult %>
    
  </tbody>
  
</table> 
</div>