<% if signed_in? %>

  <% if @current_user.consults.any? %>
    <h1>Your Consultations</h1>
    <%= render 'shared/consults_table' %>
  <% end %>



<% else %>

<h1>Welcome to Advisor Now</h1>

<% end %>