<li>
  <%= link_to meeting.description, [@consult, meeting], 'data-no-turbolink' => true %>
  <% if (meeting.requester_id != current_user.id && meeting.requested?) && (current_user.id == @consult.customer_id  ||  alpine_session?) %>
  	Confirm!
  <% end %>
  <% meeting.meeting_members.each do |member| %>
    <%= render 'meetings/member_short', member:member %>
  <% end %>
</li>