<% provide(:title, 'Make a new meeting') %>
<h1>New Meeting</h1>

<div class="row">
  <div class="span6 offset3">
    <% if current_user.alpine_user? %>
      <%= render '/consults/alpine_meeting_form' %>
    <% end %>

    <% if !current_user.alpine_user? %>
      <%= render '/consults/cust_meeting_form' %>
    <% end %>
  </div>
</div>


