<% if @consult_filter != "Open" %>
  <span class="ticket-toggle"><%= link_to "View Open Tickets" %></span>
<% else %>
  <span class="ticket-toggle"><%= link_to "View Closed Tickets", {:status => "Closed"} %></span>
<% end %>
<div class="table-responsive">
<table id="consults-table" class="table table-striped" summary="Consults">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Primary Customer</th>
      <th>Next Meeting</th>
      <th>Length (hours)</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>

    
    <%= render :partial => 'consults/company_consult', :collection => @consults, :as => :consult %>
    
  </tbody>
  
</table> 
</div>
