<li>
  <%= link_to company.name, company %>
  <% if alpine_session? && company.id != 1 %>
    | <%= link_to "delete", company, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>