<tr>
  <td class="micropost">
    <span class="content"><%= link_to company.name, company %></span>
    <span class="timestamp">
      <%= company.entitlements %> Entitlements remaining.
    </span>
  </td>
</tr>