<% provide(:title, 'All companies') %>



<div class = "row">
  <aside class="span4">
    <section>
      <h3>New Company</h3>
      <%= render 'new_company_form' %>
    </section>
  </aside>

  <div class="row">
    <div class="span8">
      <h3>All Companies</h3>
      <table class="microposts" summary="Companies">
        <%= render @companies %>
      </table>
        <%= will_paginate %>
    </div>
  </div>
</div>