<% provide(:title, 'All companies') %>

<h1>All Companies</h1>
<h1>
  <%= link_to "New Company", new_company_path, class: "btn btn-sm btn-primary" %>
</h1>

  <div class="row">
    <div class="col-lg-6 col-md-8 col-centered">
      <h3>All Companies</h3>
        <%= render @companies %>
        <%= will_paginate @companies, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>