<li>
  <span class="content"><%= link_to consult.subject, [@company, consult], 'data-no-turbolink' => true %></span>
  <span class="timestamp">
    Added <%= consult.created_at %>.
  </span>
  <span class="creator">
    <%= link_to consult.creator.name, consult.creator %>.
  </span>
</li>