<% provide(:title, 'Edit Consult') %>
<div class="row">
  <div class="span6 offset3">
    <section>
      <h1>Edit a consult</h1>
      <h2><%= link_to @consult.subject, company_consult_path %></h2>
      <% if current_user.alpine_user? %>
        <%= render '/shared/alpine_consult_form' %>
      <% end %>

      <% if !current_user.alpine_user? %>
        <%= render '/shared/cust_consult_form' %>
      <% end %>
      
    </section>
  </div>
</div>