<div class="col-lg-12 col-md-12">
  <h1>Consults</h1>
  <h2 id="back-to-company"><%= link_to "<< Back to "+current_company.name, company_path(current_company) %></h2>
  <h2 id="entitlements-remaining"><%= @company.entitlements %> Entitlements Remaining</h2>
  <%= render 'shared/consults_table' %>
  <div class="text-center">
  <%= will_paginate @consults, renderer: BootstrapPagination::Rails %>
  </div>
</div>