<% provide(:title, 'All consults') %>
<h1>All consults</h1>
<h2><%= link_to current_company.name, company_path(current_company) %></h2>
<%= will_paginate %>

<ul class="users">
  <%= render @consults %>
</ul>

<%= will_paginate %>