<% provide(:title, 'New Consult') %>
<div class="row">
  <div class="col-lg-9 col-centered">
    <section>

      <h1>Book a consult</h1>
      <h2 id="entitlements-remaining"><%= @company.entitlements %> Entitlements Remaining</h2>
      <h2 id="back-to-company"><%= link_to "<< Back to "+current_company.name, company_path(current_company) %></h2>
      </section>
  </div>
</div>
<% if current_user.alpine_user? %>
  <%= render '/shared/alpine_consult_form' %>
<% end %>

<% if !current_user.alpine_user? %>
  <%= render '/shared/cust_consult_form' %>
<% end %>
      
    
