<% provide(:title, 'New Company') %>
<div class="row">
  <div class="span6 offset3">
    <section>
      <h1>Book a consult</h1>
      <h2><%= @company.entitlements %> Entitlements Remaining</h2>
      <h2><%= link_to current_company.name, company_path(current_company) %></h2>
      <% if current_user.alpine_user? %>
        <%= render '/shared/alpine_consult_form' %>
      <% end %>

      <% if !current_user.alpine_user? %>
        <%= render '/shared/cust_consult_form' %>
      <% end %>
      
    </section>
  </div>
</div>